#chatbox{
    width: 50%;
    height: 100%;
    position: relative;
    background-color: var(--app-container);
    border-left: 3px solid var(--border-color);
}

#nav{
  width: 100%;
  height: 4em;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--border-color);
}

#contact-details{
  height:100%;
  width: auto;
  /* background-color: black; */
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-evenly;
}

#contact-pfp{
  height: 3em;
  width: 3em;
  background-color: black;
  border-radius: 50%;
}

#contact-user-name{
  color: var(--secondary-color);
  height: 3em;
  width: 6em;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

#contact-user-name *{
  margin: 0;
}

#contact-user-name h6{
color: blueviolet;
}

#contact-pfp {
  background-image: url("https://i.pinimg.com/564x/f8/14/fd/f814fdec514688fbec67c79f477a61b9.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }

#chat-options{
  width: 13em;
  height: 4em;
  /* background-color: aquamarine; */
  position: absolute;
  right: 0em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#chat-options i{
  cursor: pointer;
  font-size: 34px;
  color: var(--secondary-color);
}

.convo-box{
  width: 100%;
  height: 75%;
  overflow-y: scroll;
}

.recipient-message-container{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding-left: 12px;
  /* background-color: blue; */
}

.recipient{
  /* position: absolute; */
  height:auto;
  max-width: 20em;
  width: auto;
  background-color:rgb(52, 51, 51);
  color: #fff;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 10px;
}

.sender-message-container{
  width: 100%;
  min-height: 4em;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.sender{
  max-width: 22em;
  height: auto;
  width: auto;
  background-color:blueViolet;
  color: #fff;
  border-radius:20px;
  border-top-left-radius: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 20px;
}

.send-msg-row{
  height: 15%;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-cont{
  width: 80%;
  height: 60%;
  background-color: aqua;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--search-area-bg);
  outline: none;
  box-shadow: 0 2px 6px 0 rgba(116, 128, 152, 0.479),0 24px 20px -24px rgba(71,82,107,.1);
}

#input-cont i{
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
  
}

.send-msg-input{
  font-size: 18px;
  padding: 5px;
  background-color: transparent;
  border: none;
  outline: 0;
  justify-self: center;
  flex: 1;

}

@media (max-width: 900px) {
    #contact-info {
      width: 0%;
    }
    #chatbox {
      width: 100%;
    }
    #contacts{
        width: 0%;
    }
  }